{% extends "base.html" %}
{% load static %}
{% load staticfiles %}


{% block head %}
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/business-casual.min.css' %}">
    <link rel="shortcut icon" href="{%  static 'imgsite/favicon.ico' %}">
    <title>L'atelier de Greg - A vendre</title>
    
</head>
{% endblock %}

{% block content %}


<br/>
<br/>
     {% for creation in creations %}
        <div class="row">
          <div class="col-lg-3">

          <h3>{{ creation.titre }}</h3>
          <br/>
          <b>Prix : </b>{{ creation.prix }} 
       </div>
        <div class="col-lg-3">
          {{ creation.description }}
          <br/>
          <br/>
          <b>Date : </b>{{ creation.date_fab }}        
       </div>       
        <div class="col-lg-3">
			 {% if creation.photo1  %}
			 <img src="{{ creation.photo1.url }}" width="200" height="250" />
			 {% endif %}
       </div>
        <div class="col-lg-3">
        	 <br/>
			 {% if creation.photo2  %}
			 <img src="{{ creation.photo2.url }}" width="80" height="90" />
			 {% endif %}
			 <br/>
			 <br/>
			 {% if creation.photo3  %}
			 <img src="{{ creation.photo3.url }}" width="80" height="90" />
			 {% endif %}
       </div>
      

     </div>
       <br/>
          <br/>
	{% endfor %}


{% endblock %}


